<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" href="img/myIcon.png" />

  <title>The Artwear Catalog</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <a href="/"><menu>home</menu></a>

    <h1 id="profileSiteTitle" class="siteTitle">
        <ul>
          <a href="/"><li id="title">The Artwear Gallery</li>
            <li id="tagLine">Art // Fashion Catalog</li></a>
        </ul>
    </h1>
  </header>

  <main id="createArtwearSec">
    <h1 class="headerTxt">My designs</h1>

    <h2>download or delete your art to wear</h2>

    <% 
  const colorUrlLookUp = {
      blackShirt : 'img/tshirts-colors/tshirt-black.png',
      peachShirt : 'img/tshirts-colors/tshirt-peach.png',
      pearShirt : 'img/tshirts-colors/tshirt-pear.png'
  }

  const artUrlLookUp = {
    artworkOne : 'img/backgrounds/background-1.png',
    artworkTwo : 'img/backgrounds/background-2.png',
    artworkThree : 'img/backgrounds/background-3.png'
  }

  const accentUrlLookUp = {
    accentOne : 'img/foreground/foreground-1.png',
    accentTwo : 'img/foreground/foreground-2.png',
    accentThree : 'img/foreground/foreground-3.png'
  }
    %> 

    <div class="col-sm-6">
      <ul class="designsUl">
      <% for(var i=0; i<design.length; i++) {%>
        <li class="designsLi">
          <section id="tshirt">
            <img class="displayShirt" src="<%= colorUrlLookUp[design[i].shirtColor]%>">
      
            <img class="displayArt" src="<%= artUrlLookUp[design[i].art]%>">
      
            <img class="displayAccents" src="<%= accentUrlLookUp[design[i].accents]%>">
          </section>
          
          <!-- <span><button class="deleteBtn">download</button></span> -->
          <span><button class="deleteBtn">delete design</button></span>
        </li>
      <% } %>
      </ul>


  <script src="main.js"></script>
</body>

<!-- <a href=“/images/resume-2020.pdf” download=“Ellie-Nguyen-Resume” target=“_blank”>
  <button id="deleteBtn">delete design</button></a> -->